<div class="form-group">
  <label class="d-block">Number of Bulbs & People</label>
  <input type="number" class="mx-2" #bulbCountInput>
  <button class="btn btn-primary" (click)="onGetBulbCount(bulbCountInput)">Find Out</button>
</div>
