<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex flex-wrap">
        <app-bulbs *ngFor="let bulb of bulbs; let i = index" [bulb]="bulb" [index]="i"></app-bulbs>
      </div>
      
    </div>
    <div class="col-md-6">
        <div class="card">
          <div class="card-body">
              <h4>Turned on Bulb Count: {{turnedOnBulbCount}}</h4>
          </div>
        </div>
        <div class="mt-4">
          <app-control (bulbCounted)="onBulbCounted($event)" (peopleCounted)="onPeopleCounted($event)"></app-control>
        </div>
    </div>
  </div>
</div>
